@import url("variables");

body{
  margin: 0;
  font-family: 'メイリオ', Meiryo,'Arial','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

a{
  text-decoration: none;
}

.container{
  width: 1170px;
  padding-left: 15px;
  padding-right: 0 15px;
  margin: 0 auto;
}

.top-wrapper{
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(back-img.jpg);
  color: white;
  background-size: cover;
  text-align: center;
}

.top-wrapper h1{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p{
  opacity: 0.7;
}

.btn-wrapper{
  margin: 20px 0;
}

.me{
  background-color: #20b2aa;
}

.art{
  background-color: #d8bfd8;
}

.insta{
  background-color: #d8bfd8;
}

.btn{
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity: 1;
}

.fa{
  margin-right: 5px;
}

.lesson-icon span{
  margin-right: 100px;
}

header{
  height: 65px;
  width: 100%;
  background-color: rgba(245,245,220,0.8);
}

header p{
  color: $btn;
}

.logo{
  width: 25px;
  margin-top: 20px;
}

.header-left{
  float: left;
}

.lesson-wrapper{
  height: 500px;
  padding-bottom: 80px;
  background-color: $back;
  text-align: center;
}

.heading{
  padding-top: 60px;
  padding-bottom: 30px;
  color: $btn;
}

.heading h2{
  font-weight: normal;
}

.lesson{
  float: left;
  width: 30%;
}

.lesson-icon{
  position: relative;
}

.lesson-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: $btn;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin: 20px;
  font-size: 12px;
  color: #b3aeb5;
}
